<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Collapsable TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38DB4D4D1ECC623A00C4820F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DB4D611ECC623A00C4820F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DB4D6C1ECC623A00C4820F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
